%btn-shared {
  display: inline-block;
  transition: all 0.4s;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #222;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: $dark-color;
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $main-color;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
